<!DOCTYPE html>
<html>
<head>
	<title></title>
</head>
<body>

	<% articleList.forEach(function (article) { %>
	<div>
		<%= article.title.toUpperCase() %>
		<div>
			<%= article.content %>
		</div>
	</div>
<% })%>

</body>
</html>