<!DOCTYPE html>
<html>
<head>
  <meta charset="UTF-8">
  <title>New Article</title>
</head>
<body>
  <h1>Create New Article</h1>
  <form action="/articles" method="post">
    Title:  <input type="text" name="title">
    Author: <input type="text" name="author">
    Body:   <input type="text" name="body">
    Id:     <input type="text" name="id">
    <button>Save</button>
  </form>
</body>
</html>