<!DOCTYPE html>

<html>
  <head>
  </head>
  <body>
    <h1>The New Page!</h1>
    <form method="post" action="/articles">
      <input type="text" name="article[title]">
      <textarea name="content[title]"></textarea>
      <button>Save </button>
    </form>
  </body>
</html>