<!DOCTYPE html>

<html>
	<head>
	</head>
	<body>
		<% articleList.forEach(function (article) { %>
			<div>
				<b><%= article.title %></b>
				<div>
					<em><%= article.summary %></em>
				</div>
			</div>
		<% })%>
	</body>
</html>
