<!doctype html>
<html class="no-js" lang="en">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>ernesto | elbesto</title>
    <link rel="stylesheet" href="css/foundation.css" />
    <link href="//maxcdn.bootstrapcdn.com/font-awesome/4.2.0/css/font-awesome.min.css" rel="stylesheet">
    <script src="js/vendor/modernizr.js"></script>
    <style> aside>p{text-align: center;};</style>
  </head>
  <body>
       
    
    <div class="row">
      <div class="large-12 columns">
        <div class="nav-bar right">
         <ul class="button-group">
           <li><a href="/articles" class="button">home</a></li>
           <li><a href="/articles/new" class="button">new</a></li>
           <li><a href="/about" class="button">about</a></li>
           <li><a href="/contact" class="button">contact</a></li>
          </ul>
        </div>
        <h1>NewsFeed<small> simple. node.</small></h1>
        <hr/>
      </div>
    </div>

  <div class="row">
    <div class="large-9 columns">
 
      <h2>about me? really? Ok... ill tell you a little bit</h2>
      <article id="learning">
                <header>
                  <h4><em>Education and Materials Tackled Thus Far</em><br> 
                  <small>A little of this and a little of that</small></h4>
                </header>
                <div class="article-wrapper-content">
                <p>I spent a lot of time dipping my toe into the most popular languages today: 
                JavaScript, HTML, CSS, and Ruby... The syntax and logical flow of Ruby made it a 
                joy to learn and there was something about it that just spoke to me. Therefore,
                I decided that I had to do more than just learn online, I needed to return to
                the world of books and structured learning. So, I set out to develop a curriculum
                based on the most popular and recommended books on Ruby and Rails that I could
                find. This decision to start with Ruby and learn with books instead of blogs 
                was largely influenced by Richardson Dackam's article <a href="https://medium.com/how-i-learned-ruby-rails/how-i-trained-to-learn-rails-e08c94e2a51e">
                "How I TRAINed to learn Rails: A Guide to Learning Rails in 2 months"</a></p>
                <p>Over the coming months, with or without the Opportunity Fund I am going
                to populate my GitHub with my sample apps, and a few little ideas I have
                had along the way, so please keep <a href="https://github.com/el-besto">
                checking up on me</a> from time to time if you feel so inclined.</p>
                
                <section>
                  <header>Text-based (books for the less technically inclined)</header>
                    <ul class="expandable">
                      <li class="completed"> <a href="http://www.amazon.com/Building-Apps-WordPress-Brian-Messenlehner/dp/1449364071">Building Web Apps with WordPress</a>
                        , Brian Messenlehner, 2014, 462 pp</li>
                    </ul>

                    <h6>Full Stack Prep</h6>
                    <ul class="expandable">
                      <li class="completed"> <a href="http://www.amazon.com/Learning-Web-Development-Semmy-Purewal/dp/1449370195/ref=sr_1_1?s=books&ie=UTF8&qid=
                       1406548043&sr=1-1&keywords=learning+web+app+development">Learning Web 
                       App Development</a>, Semmy Purewal, 2014, 306 pp</li>
                      <li class="started"> <a href="http://www.amazon.com/Executable-Specifications-Scrum-Practical-Requirements/dp/0321784138/ref=cm_cr_pr_product_top">Executable Specifications with Scrum: A Practical Guide to 
                       Agile Requirements Discovery</a>, Mario Cardinal, 2013, 192 pp</li>
                      <li class="started"> <a href="http://www.amazon.com/Agile-Flash-Speed-Learning-Development-Programmers/dp/1934356719/ref=sr_1_1?s=books&ie=UTF8&qid=1406679626&sr=1-1&keywords=agile+in+a+flash">Agile in a Flash: 
                       Speed-Learning Agile Software Development</a> (Pragmatic Programmers), 
                       Jeff Langr, Tim Ottinger, 2011, pp 110</li>
                      <li class="planned"> <a href="http://guide.agilealliance.org/">Guide to
                       Agile Practices</a>, The Agile Alliance</li>
                    </ul>

                    <h6>Becoming a Rubyist</h6>
                    <ul class="expandable">
                      <li class="completed"> <a href="http://www.amazon.com/Learn-Ruby-Hard-Way-Shaws/dp/032188499X/ref=sr_1_1?s=books&ie=UTF8&qid=1406515474&sr=1-1&keywords=ruby+the+hard+way">Learn Ruby the Hard Way</a> (Zed Shaw's 
                       Hard Way Series), 2014, 320 pp</li>
                      <li class="complete"> <a href="http://www.amazon.com/Book-Ruby-Hands--Guide-Adventurous/dp/1593272944/ref=sr_1_1?s=books&ie=UTF8&qid=1406515376&sr=1-1&keywords=the+book+of+ruby">The Book of Ruby: A Hands-On Guide 
                       for the Adventurous</a> by Huw Collingbourne, July 2011, 400 pp</li>
                      <li class="started"> <a href="http://www.amazon.com/Practical-Object-Oriented-Design-Ruby-Addison-Wesley/dp/0321721330">Practical
                       Object-Oriented Design in Ruby: An Agile Primer (Addison-Wesley Professional 
                       Ruby Series)</a>, 2012, 272 pp</li>
                      <li class="started"> <a href="http://www.amazon.com/Ruby-Rails-Tutorial-Addison-Wesley-Professional/dp/0321832051">Ruby on Rails Tutorial: 
                       Learn Web Development with Rails</a> (2nd Edition) (Addison-Wesley 
                       Professional Ruby Series), Michael Hartl, 2012, 600 pp</li>
                      <li class="started"> <a href="http://www.amazon.com/Agile-Development-Rails-Facets-Ruby/dp/1937785564">Agile Web Development with Rails 4 
                       (Facets of Ruby)</a> by Sam Ruby, Dave Thomas, David Heinemeier Hansson, 
                       2013, 480 pp</li>
                      <li class="planned"> <a href="http://www.amazon.com/Rails-Way-Addison-Wesley-Professional-Ruby/dp/0321944275/ref=sr_1_1?s=books&ie=UTF8&qid=1407847316&sr=1-1&keywords=the+rails+4+way">The Rails 4 Way (3rd Edition) 
                       (Addison-Wesley Professional Ruby Series)</a> by Obie Fernandez and 
                       Kevin Faustino, 2014, 880 pp</li>
                      <li class="planned"> <a href="http://www.amazon.com/Eloquent-Ruby-Addison-Wesley-Professional-Series/dp/0321584104/ref=pd_sim_b_3?ie=UTF8&refRID=03AKR3KB03GXRNJ8F8TB">Eloquent Ruby</a> (Addison-Wesley Professional 
                       Ruby Series), Russ Olsen, 2011, 448 pp</li>
                    </ul>
              
                    <h6>Infrastructure Management and Automation</h6>
                    <ul>
                      <li class="completed"> <a href="http://www.amazon.com/Vagrant-Up-Running-Mitchell-Hashimoto/dp/1449335837">Vagrant: Up and Running</a>, Mitchell 
                      Hashimoto, 2013, 158 pp</li>
                      <li class="planned"> <a href="http://learn.getchef.com/additional-resources/">Learn Chef: Chef Fundamentals Webinar Series</a>, 6 videos
                      , approx 8 hours of content</li>
                    </ul>
                </section>

                <section>
                  <header>Online Coursework: Completed, Started and Planned</header>
                  <ul>
                    <li class="completed"> <a href="https://www.udemy.com/introduction-to-agile/">Introduction to Agile SCRUM</a>, Natalie Disque, PMP</li>
                    <li class="completed"> <a href="https://www.udemy.com/learn-ruby-programming-in-ten-easy-steps/">Ruby Programming for Beginners</a>, Huw Collingbourne</li>
                    <li class="completed"> <a href="https://www.udemy.com/github-fundamentals/">
                     Github Fundamentals</a></li>
                    <li class="completed"> <a href="https://www.udemy.com/the-what-and-why-of-apis/">The Basics of APIs</a>, General Assembly</li>
                    <li class="completed"> <a href="https://www.udemy.com/introduction-to-bootstrap-3/">
                     Introduction to BootStrap 3</a></li>
                    <li class="planned"> <a href="https://www.udemy.com/creating-responsive-web-design/">Creating Responsive Web Design</a>, Chris Converse</li>
                    <li class="planned"> <a href="https://www.udemy.com/html5-apis-for-javascript-a-course-for-web-developers/"> HTML5 APIs for JavaScript</a> - A Course 
                     for Web Developers</li>
                    <li class="started"> <a href="https://www.udemy.com/getting-started-with-ruby-on-rails/"> Getting Started with Ruby on Rails</a> Prof. Paul Krause</li>
                    <li class="planned"> <a href="https://www.udemy.com/amazon-web-services-certified-developer-associate-level/"> Amazon Web Services Certified 
                     Developer - Associate Level</a>, Linux Academy</li>
                    <li class="planned"> <a href="https://www.udemy.com/angularjs/">All You 
                     Need To Know About AngularJS - Training On AngularJS</a></li>
                    <li class="planned"> <a href="https://www.udemy.com/learn-java-script-server-technologies-from-scratch/#/"> Learn Java Script Server Technologies From 
                     Scratch</a>, Eduonix Learning Solutions</li>
                    <li class="started"> <a href="https://www.udemy.com/learn-nodejs-by-example/#/">
                     Learn Node.js by Example</a>, C. Aaron Cois, Ph.D.</li>
                    <li class="started"> <a href="https://www.udemy.com/how-to-get-a-job-in-product-management/#/">You're Hired: How to Get a Job in Product Management</a>,
                     Jason Shah former Product Manager at Yammer</li>
                  </ul>
                </section>
                </div>
              </article> 
 
    </div>

 
     
 
 
     
 
 
    <aside class="large-3 columns">
      <p>
        <a href="https://github.com/el-besto/news_feed/"><img src="img/elbesto.png"></a>
      </p>
      <p>
        angelo cisneros<br/>
        123 awesome ave.<br/>
        san francisco, ca
      </p>
      <p><a href="https://github.com/el-besto/"><i class="fa fa-github fa-5x"></i></a></p>
    </aside>
  </div>  
     

    
    
    
     
    
    
     
    
    <footer class="row">
      <div class="large-12 columns">
        <hr/>
        <div class="row">
          <div class="large-6 columns">
            <p>© angelo cisneros. first this, then guitar.</p>
          </div>
          <div class="large-6 columns">
            <ul class="inline-list right">
              <li><a href="/articles">home</a></li>
              <li><a href="/articles/new">new</a></li>
              <li><a href="/about">about</a></li>
              <li><a href="/contact">contact</a></li>
            </ul>
          </div>
        </div>
      </div>
    </footer>
    
    <script src="js/vendor/jquery.js"></script>
    <script src="js/foundation.min.js"></script>
    <script>
      $(document).foundation();
    </script>
  </body>
</html>
