<!doctype html>
<html class="no-js" lang="en">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>ernesto | elbesto</title>
    <link rel="stylesheet" href="css/foundation.css" />
    <link href="//maxcdn.bootstrapcdn.com/font-awesome/4.2.0/css/font-awesome.min.css" rel="stylesheet">
    <script src="js/vendor/modernizr.js"></script>
    <style> aside>p{text-align: center;};</style>
  </head>
  <body>
       
    
    <div class="row">
      <div class="large-12 columns">
        <div class="nav-bar right">
         <ul class="button-group">
           <li><a href="/articles" class="button">home</a></li>
           <li><a href="/articles/new" class="button">new</a></li>
           <li><a href="/about" class="button">about</a></li>
           <li><a href="/contact" class="button">contact</a></li>
          </ul>
        </div>
        <h1>NewsFeed<small> simple. node.</small></h1>
        <hr/>
      </div>
    </div>

  <div class="row">
    <div class="large-9 columns">
 
      <h3>Get Lost in my Inbox!</h3>
      <p>I'd love to hear from you. But, right now, I don't have much time to spare. Go ahead, press the button below. I love getting email all day <em>every day</em>.</p>
 
      <div class="section-container tabs" data-section>
        <section class="section">
          <h5 class="title"><a href="#panel1">shoot me an email</a></h5>
          <div class="content" data-slug="panel1">
            <form>
              <div class="row collapse">
                <div class="large-2 columns">
                  <label class="inline">Your Name</label>
                </div>
                <div class="large-10 columns">
                  <input type="text" id="yourName" placeholder="John Frusciante">
                </div>
              </div>
              <div class="row collapse">
                <div class="large-2 columns">
                  <label class="inline"> Your Email</label>
                </div>
                <div class="large-10 columns">
                  <input type="text" id="yourEmail" placeholder="thebest@guitarist.ever">
                </div>
              </div>
              <label>What's up?</label>
              <textarea rows="4"></textarea>
              <button type="submit" class="radius button">Submit</button>
            </form>
          </div>
        </section>
      </div>
    </div>

 
     
 
 
     
 
 
    <aside class="large-3 columns">
      <p>
        <a href="https://github.com/el-besto/news_feed/"><img src="img/elbesto.png"></a>
      </p>
      <p>
        angelo cisneros<br/>
        123 awesome ave.<br/>
        san francisco, ca
      </p>
      <p><a href="https://github.com/el-besto/"><i class="fa fa-github fa-5x"></i></a></p>
    </aside>
  </div>  
     

    
    
    
     
    
    
     
    
    <footer class="row">
      <div class="large-12 columns">
        <hr/>
        <div class="row">
          <div class="large-6 columns">
            <p>© angelo cisneros. first this, then guitar.</p>
          </div>
          <div class="large-6 columns">
            <ul class="inline-list right">
              <li><a href="/articles">home</a></li>
              <li><a href="/articles/new">new</a></li>
              <li><a href="/about">about</a></li>
              <li><a href="/contact">contact</a></li>
            </ul>
          </div>
        </div>
      </div>
    </footer>
    
    <script src="js/vendor/jquery.js"></script>
    <script src="js/foundation.min.js"></script>
    <script>
      $(document).foundation();
    </script>
  </body>
</html>
