<!DOCTYPE html>

<html>
  <head>
  </head>
  <body>
       <ul>
        <li>Tubbs "Tubby" Tubberton</li>
        <li>The BOSS</li>
        <li>Lawrence "Larry" Beeekmaann</li>
        <li>Desquarius Juckston</li>
       </ul>
  </body>
</html>