<!doctype html>
<html class="no-js" lang="en">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>ernesto | elbesto</title>
    <link rel="stylesheet" href="css/foundation.css" />
    <script src="js/vendor/modernizr.js"></script>
  </head>
  <body>
       
    
    <div class="row">
      <div class="large-12 columns">
        <div class="nav-bar right">
         <ul class="button-group">
           <li><a href="/articles" class="button">home</a></li>
           <li><a href="/articles/new" class="button">new</a></li>
           <li><a href="/about" class="button">about</a></li>
           <li><a href="/contact" class="button">contact</a></li>
          </ul>
        </div>
        <h1>NewsFeed<small> simple. node.</small></h1>
        <hr/>
      </div>
    </div>


    <div class="row">
    
    
      <div class="large-9 columns" role="content">
      <% articleList.forEach(function(article){ %>
        <article>

          <h3><a href="articles/<%= article.id %>"><%= article.title %> </a></h3>
          <h6>Written by <a href="#"><%= article.author %></a> on August 12, 2012.</h6>
    
          <div class="row">
            <div class="large-6 columns">
              <p><%= article.body %></p>
            </div>
            <!-- <div class="large-6 columns">
              <img src="http://placehold.it/400x240&text=[img]"/>
            </div> -->
          </div>
    
          <p>Pork drumstick turkey fugiat. Tri-tip elit turducken pork chop in. Swine short ribs meatball irure bacon nulla pork belly cupidatat meatloaf cow. Nulla corned beef sunt ball tip, qui bresaola enim jowl. Capicola short ribs minim salami nulla nostrud pastrami. Nulla corned beef sunt ball tip, qui bresaola enim jowl. Capicola short ribs minim salami nulla nostrud pastrami.</p>
    
        </article>
        
        <hr/>
      <% }) %>
    
      </div>
    
       
    
    
       
    
      <aside class="large-3 columns">
    
        <h5>Categories</h5>
        <ul class="side-nav">
          <li><a href="#">living</a></li>
          <li><a href="#">learning</a></li>
          <li><a href="#">loving</a></li>
        </ul>
    
        <div class="panel">
          <h5>Featured</h5>
          <p>Pork drumstick turkey fugiat. Tri-tip elit turducken pork chop in. Swine short ribs meatball irure bacon nulla pork belly cupidatat meatloaf cow.</p>
          <a href="#">Read More →</a>
        </div>
    
      </aside>
    
       
    </div>
    
     
    
    
     
    
    <footer class="row">
      <div class="large-12 columns">
        <hr/>
        <div class="row">
          <div class="large-6 columns">
            <p>© angelo cisneros. first this, then guitar.</p>
          </div>
          <div class="large-6 columns">
            <ul class="inline-list right">
              <li><a href="/articles">home</a></li>
              <li><a href="/articles/new">new</a></li>
              <li><a href="/about">about</a></li>
              <li><a href="/contact">contact</a></li>
            </ul>
          </div>
        </div>
      </div>
    </footer>
    
    <script src="js/vendor/jquery.js"></script>
    <script src="js/foundation.min.js"></script>
    <script>
      $(document).foundation();
    </script>
  </body>
</html>
